body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('forest-background.jpg');
}
h1 {
    font-family: 'Oxygen', sans-serif;
    font-size: 6em;
    margin: 0;
    color: rgb(111, 124, 73);
    font-weight: 700;
    -webkit-text-stroke: 1px white;
}
#game-board{
    display: flex;
    flex-direction: column;
    border: 3px solid rgb(194, 202, 168);
    width: 56em;
    background-color: rgba(138, 154, 91, .5);
}
.row{
    display: flex;
}
.game-square{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    border: 2px solid rgb(219, 224, 201);
    margin: 0;
    font-size: 4em;
}
.cursor {
    display: flex;
    position: fixed;
    font-size: 4em;
    align-items: center;
    pointer-events: none;
}
