body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('forest-background.jpg');
    margin: 8px 0;
    font-family: 'Oxygen', sans-serif;
}
h1 {
    font-size: 6em;
    margin: 0;
    color: rgb(111, 124, 73);
    font-weight: 700;
    -webkit-text-stroke: 1px white;
}
.game-container{
    display: flex; 
    justify-content: center;
    width: 100vw;
}

.player-info{
    display: flex;
    width: 20%;
    align-items: center;
    flex-direction: column;
    
    border-radius: .5em;
    margin: 0 4em;
   
}
.player-score{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    border-radius: .5em;
    width: 100%;
    background-color: rgba(58, 43, 40, .5);
    margin: 3em 0;
}

h2 {
    
    font-size: 2.5em;
    margin: 0;
    font-weight: 700;
    color:rgb(194, 202, 168);
    -webkit-text-stroke: 1px  rgb(58, 43, 40);
    text-decoration: underline;
}

h3 {
    font-size: 2em;
    font-weight: 700;
    margin: 0;
    color: rgb(194, 202, 168);
    -webkit-text-stroke: 1px  rgb(58, 43, 40);
}
#game-board{
    display: flex;
    flex-direction: column;
    background-color: rgba(138, 154, 91, .5);
    cursor: none;
}
.row{
    display: flex;
}
.game-square{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5em;
    height: 1.5em;
    border: 2px solid rgb(219, 224, 201);
    margin: 0;
    font-size: 4em;
}
.cursor {
    display: flex;
    position: fixed;
    font-size: 4em;
    justify-content: center;
    pointer-events: none;
    
}
button{
    
    
    font-size: 1em;
    border-radius: .5em;
    background-color: rgb(194, 202, 168);
    color: rgb(58, 43, 40);
}
.selected-token{
    width: 100%;
    height: 6em;
}
.tokens{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    background-color: rgba(194, 202, 168, .7); 
    border-radius: .5em;
    align-content: flex-end;
    
}
.token-square{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5em;
    height: 1.5em;
    font-size: 2.5em;
}
.selected-token{
    font-size: 4em;
    height: 2em;
    justify-content: center;
    text-align: center;
    color: rgb(111, 124, 73);
    -webkit-text-stroke: 1px white;
    font-weight: 700;
    line-height: 1em;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    margin: 0 auto;
    width: 20%;
    height: 20%;
    background-color: rgba(58, 43, 40, .7);
    border-radius: .6em;
    text-align: center;
}
p{
    color: white;
    font-size: 1.5em;
    text-align: center;
}
